*,
*::after,
*::before {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  color: inherit;
}

/* --- PALETA COLORES 
COLOR PRINCIPAL #7db4b5
COLOR COMPLEMENTARIO #e0eff1
COLOR DESTAQUE #680148
COLOR TEXTO #000000
COLOR NEGATIVO #ffffff
--- */


/* globales */
html {
    font-family: "Nunito", sans-serif;
    color: #000000;
}
h1 {
    font-family: "Acme", sans-serif;
    font-size: 32px;
    text-transform: capitalize;
  }
  h2 {
    font-size: 28px;
    text-transform: capitalize;
  }
  h3 {
    font-size: 18px;
    text-transform: uppercase;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    text-transform: uppercase;
  }

  img {
    width: 100%;
  }

  button {
    cursor: pointer;
  }

  .m-top{
    margin-top: 80px;
  }
  
  /* utilitarios */
  .container {
    max-width: 80%;
    margin: 0 auto;
  }

  @media (max-width: 576px) {
      .container{
        width: 100%;
        padding: 0 16px;
      }
  }
  
  .centrado {
    margin: 0 auto;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .btn {
    display: inline-block;
    min-width: 160px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #680148;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .btn:hover {
    box-shadow: 4px 2px 10px rgb(125, 180, 181);
    background-color: rgba(104, 1, 71, 0.8);
  }

  .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  /* -- HEADER--- */
  .header {
    background-color: #680148;
    padding: 16px 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
  }
  .navbar, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  .logo img {
    width: 40px;
  }

 .logo h1 {
    color: #fff;
  }

  .nav li {
    list-style: none;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
  }

  .submenu {
    position: relative;
  }

  .carrito{
    position: relative;
  }

  .submenu ul{
    display: none;
    position: absolute;
    right: 0;
    background-color: #680148;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 8px;
  }

  .contenedor-carrito{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #680148;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 8px;
    min-width: 240px;
  }
  .info-producto .row-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .contenedor-carrito li{
    margin: 0;
  }
  .info-producto span{
    text-align: center;
    padding-bottom: 4px;

  }
  .info-producto .nombre{
    text-transform: uppercase;
    min-width: 60px;
  }
  .info-producto .btn-eliminar{
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  .info-producto .btn-eliminar:hover{
    color: grey;
  }

  .contenedor-carrito .total{
    border-top: 1px solid grey;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-top: 4px;
  }
  
  .submenu ul li {
    float: none;
    text-align: right;
    border-bottom: 1px solid grey;
    line-height: 1.5;
    margin: 0;
  }
  .submenu ul li:last-of-type{
    border: none;
  }

  .submenu ul li:hover {
    color: grey;
  }

  .submenu:hover > ul {
    display: block;
    top: 22px;
  }

  .hidden{
    display: none;
  }


  /* -- HERO --*/
  .hero {
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/imagen-hero.jpg);
    background-size: cover;
    background-position: center center;

  }

  .hero .texto{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    height: 100%;
  }

  .botones {
    display: flex;
    gap: 2rem;
  }

  .botones a:first-of-type{
    background-color: transparent;
    border: 2px solid #fff;
  }

  /* --- PALETA COLORES 
COLOR PRINCIPAL #7db4b5
COLOR COMPLEMENTARIO #e0eff1
COLOR DESTAQUE #680148
COLOR TEXTO #000000

COLOR NEGATIVO #ffffff
--- */
 
/* -- categorias-- */
.categorias{
  background-color: #e0eff1;
  padding: 30px 0;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
}

@media (max-width: 768px) {
    .grid-container{
      grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .grid-container{
      grid-template-columns: 1fr;
    }
}

.grid-container div:nth-of-type(1){
  background-image: url(img/oficina.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-container div:nth-child(2) {
  background-image: url(img/libreria.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-container div:nth-of-type(3){
  background-image: url(img/papeleria.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-container div:nth-of-type(4){
  background-image: url(img/artistica.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.caja{
  border: #680148 solid 1px;
  background-color: #ffffff;
  border-radius: 20px;
  height: 250px;
  padding: 15px;
  text-align: center;
}

.caja:hover{
  transform: scale(1.2);
}
/*-- OPINIONES --*/

.contenedorOpiniones{
  width: 80%;
  height: 400px;
  overflow: hidden;
  margin: auto;
}

.sliderContenedor{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

/*--.sliderContenedor p:nth-child(1){
  padding: 80px;
}--*/

.sliderTest{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
}

.sliderImg{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 60%;
}



 /*-- CONTACT --*/

.form{
  background-color: #e0eff1;
  border-radius: 16px;
  box-shadow: 4px 2px 10px rgb(125, 180, 181);
  max-width: 800px;
  margin: auto;
  padding: 10px;
}
.h2form{
  text-align: center;
  padding-bottom: 10px;
}

.formInput{
  padding: 10px 20px;
}

.formbtn{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

 .inputContact, textarea, #categoria{
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-left: 4px solid #7db4b5;
  border-radius: 6px;
 }

 #asunto{
  color:#6e6d6d;
  font-family: sans-serif;
 }


 .labelForm{
  line-height: 2;
 }

 /* .boton{
  width: 100px;
  height: 30px;
 } */

/* Ocultar el input original */
input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 200px;
}

.alertas{
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  color: #fff;
}

.alertas .ok{
  background-color: green;
}

.alertas .error{
  background-color: red;
}

@media (max-width: 576px) {
  .form{
    width: 100%;
  }
  .botones{
    flex-direction: column;
  }
}


/* -- NOSOTROS --- */
.nosotros .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    place-items: baseline center;
}

.servicios .card{
  text-align: center;
  place-items: baseline;
  width: 160px;
}
.servicios .card img{
  width: 80px;
  opacity: .5;
}

.nosotros .presentacion{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 2rem;
}
.nosotros .presentacion img{
  width: 220px;
  height: 220px;
  border-radius: 100%;
}

.nosotros .presentacion .texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

@media (max-width: 768px) {
  .nosotros .servicios{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (max-width: 576px) {
  .nosotros .servicios{
    grid-template-columns: 1fr;
  }


  .nosotros .presentacion{
    grid-template-columns: 1fr;
    place-items: center;
  }

  .nosotros .presentacion .texto{
    align-items: center;
    text-align: center;
  }
}

  /*-- FOOTER --*/
  footer {
    background-color: #680148;
    color: #fff;
    
  }

  .footer {
    position: relative;
    padding-top: 24px;
    margin-top: 40px;
  }

  .btn-arriba {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
    color: #680148;

    position: absolute;
    top: -24px;
    right: 0;
  }

  .btn-arriba:hover {
    box-shadow: 4px 2px 10px rgb(125, 180, 181);
  }

  .btn-arriba i {
    margin-bottom: 2px;
  }
  .nav-footer li {
    list-style: none;
    float: left;
    margin-left: 10px;
    font-weight: bold;
  }
  .nav-footer li:hover{
    color: grey;
  }
  .copy {
    text-transform: capitalize;
    text-align: center;
    border-top: 1px solid grey;
    padding: 4px;
  }

  .copy span {
    font-weight: bold;
  }

  .social {
    text-align: right;
    color: #fff;
    padding: 20px 0;
  }
  .social i{
    margin-left: 10px;
  }

  @media (max-width: 576px) {
      .footer {
        flex-direction: column;
      }
      .nav-footer li{
        float: none;
        text-align: center;
      }

      .social {
        text-align: center;
      }
  }


  /* --- PAGINA TIENDA --- */

  .tienda {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    padding: 1rem 0;
    position: relative;
  }

  @media (max-width: 768px) {
      .tienda {
        grid-template-columns: 1fr;
      }
  }

  .tienda .menu {
    background-color: #e0eff1;
  }

  .producto{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-bottom: 1rem;

    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
  }

  .producto:hover{
    box-shadow: 4px 2px 10px rgb(125, 180, 181);
    transform: scale(1.01);
  }
  .producto:last-of-type{
    margin-bottom: 0;
  }

  .producto .textos{
    display: flex;
    flex-direction: column;
  }
  .producto .textos .tags {
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:8px;
  }

  .tags .precio{
    background-color:#7db4b5;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline-block;
  }

  .tags .categoria{
    background-color:#e0eff1;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
  }

  .textos .plus {
    cursor: pointer;
    text-align: right;
    padding-right: 16px;
  }

  .producto .textos .detalle {
    overflow: hidden;
  }

  .alto-ofw{
    height: 60px;
  }

  .producto .img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


/*--- ASIDE ---*/
.menu {
  text-align: left;
  padding: 0 8px;
}

.menu .titulo {
  justify-content: start;
}

.menu .categoria {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 8px;

}


.menu fieldset{
  border: none;
  margin-bottom: 16px;
}

.menu legend {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 0;
}

.menu .buscador {
  border: 1px solid grey;
  border-radius: 16px;
  padding: 8px 16px;
  background-color: #fff;
}

.buscador input{
  border: none;
}

.buscador input::-webkit-input-placeholder {
  color: #680147b0;
}

.buscador input:focus {
  outline: none;
}

.rango .btn-menos, .rango .btn-mas {
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  width: 24px;
  cursor: pointer;
}

.rango progress {
  width: 100%;
}

@media (max-width: 768px) and (min-width: 576px) {
  .menu .categoria {
    display: flex;
  }
}
@media (max-width: 576px) {
    .producto{
      grid-template-columns: 1fr;
    }

    .img-100{
      position: static;
      border: none;
    }
}
