.linea{
    border-top: 2px solid grey;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera .logout{
    cursor: pointer;
}


.hashtag .t-row{

    display: flex;
    text-align: center;
    gap: 1rem;

    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;

}
.hashtag .t-row.head p {
    text-transform: capitalize;
    color:var(--color-ppal);
}
.hashtag .t-row.head p:hover{
    transform: scale(1.05);
}

.cabecera2 .btn{
    height: 40px;
}

.dataUser{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 576px) {
    .dataUser{
        grid-template-columns: 1fr;
    }
}

.boton {
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}
.formularioActualizacionUsuarios {
    display: flex;
    justify-content: space-between;
}

.formularioActualizacionUsuarios div {
    margin: 10px;
}
.formParte1 {
    margin: 10px;
}


.verYModificar .titulo{
    justify-content: left;
}

.verYModificar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crearProductoNuevo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    width: 100%;
    border: 2px solid var(--color-complemento);
    border-radius: 6px;
}
.search input {
    border: none;
}
input {

    outline: none;
}

.search input::placeholder {
    padding-left: 0.8rem;
}


.crearProducto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.crearProducto fieldset{
    border: none;
}

.crearProducto textarea, input, select {
    margin: 8px 0;
    width: 90%;
    padding: 5px 10px;
    border: 2px solid var(--color-complemento);
    border-radius: 6px;
    width: 100%;
}
.crearProducto .botonDerecha{
    text-align: right;
}


#modificarElProducto h3 {
    margin: 10px;
}

#modificarElProducto .titulo {
    justify-content: left;
}

@media (max-width: 576px) {
    .crearProducto{
        grid-template-columns: 1fr;

    }
    .search{
        flex-direction: column;
        align-items: start;
    }
    .hashtag .t-row{
        flex-direction: column;
        align-items: start;
    }

    .formularioActualizacionUsuarios{
        flex-direction: column;
    }
}

/* CODIGO CAJA ELIMINAR CUENTA USUARIO*/
.eliminarCuentaUsuario .row{
    justify-content: space-between;
    color: tomato;
    font-weight: bold;
}
@media (max-width: 576px) {
    .eliminarCuentaUsuario .row{
        flex-direction: column;
    }
}

/* CODIGO CAJA ELIMINAR CUENTA USUARIO*/
.eliminarCuentaUsuario {
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid tomato;
    border-radius: 16px;
    background-color: rgba(255, 99, 71, 0.158);
}
.eliminarCuentaUsuario .botones{
    margin: 1rem;
}
.eliminarCuentaUsuario .botones .guardar{
    color: green;
    border: 2px solid green;
}
.eliminarCuentaUsuario .botones .eliminar{
    background-color: tomato;
    color: #fff;
    border: 2px solid tomato;
}


/* ------ MENSAJES -----*/
#mostrarMisMensajes {
    padding-bottom: 1rem;
}
#mostrarMisMensajes .t-row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 0.5fr;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 8px 0;
}

.headerMsg{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 0.5fr;
    place-items: center;
    padding: 8px 0;
}
.headerMsg i{
    cursor: pointer;
}

.bodyMsg {
    padding-bottom: 8px;
    font-style: italic;
}
.listaMensajes {
    border-bottom: 1px solid grey;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 15px;
}


li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


li .actions {
    display: flex;
    gap: 10px;
}

.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 1.5fr 2fr;
    
}
.contenedor2 {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
}

.contenedor img {
    width: 100px;
  
}


.caja2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.caja2 .vistaCategoria {
    padding: 10px;
    background-color: grey;
    border-radius: 50%;
    margin-bottom: 30px;
}

.botones{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.botones .actualizar {
    background-color: transparent;
    border: 2px solid rgb(8, 34, 8);
    color: rgb(8, 34, 8);
}

.botones .delete {
    background-color: transparent;
    border: 2px solid tomato;
    color: tomato;
}

/*.orden{
    min-height: 70vh;

}

.listado_productos_seleccionados .titulo {
    justify-content: left;
}
.listado_productos_seleccionados .t-row{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr 1.5fr;
    text-align: center;
    padding: 4px 0;
}
.listado_productos_seleccionados .t-row p{
    padding: 4px;
    font-style: italic;
}
.listado_productos_seleccionados .t-row p:first-of-type{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-style: normal;
}

.listado_productos_seleccionados .t-row p:first-of-type i{
    cursor: pointer;
}

.t-row.head{
    text-align: center;
    border-bottom: 2px solid grey;
    text-transform: uppercase;
    font-weight: bold;
}

.listado_productos_seleccionados .t-row:last-child{
    border-bottom: 2px solid grey;
}

.listado_productos_seleccionados .bottons{
    margin: 4px 0;
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 1rem;
}

@media (max-width: 576px) {
    .listado_productos_seleccionados .t-row.head{
        display: none;
    }
    .listado_productos_seleccionados .t-row{
        grid-template-columns: 1fr;
        text-align: left;
        border-bottom: 2px solid grey;
    }
    .listado_productos_seleccionados .bottons{
        flex-direction: column;
        margin-top: 1rem;
    }
}
    */