.linea{
    border-top: 2px solid grey;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera .logout{
    cursor: pointer;
}


.hashtag .t-row{

    display: flex;
    text-align: center;
    gap: 1rem;

    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;

}
.hashtag .t-row.head p {
    text-transform: capitalize;
    color:var(--color-ppal);
}
.hashtag .t-row.head p:hover{
    transform: scale(1.05);
}

.cabecera2 .btn{
    height: 40px;
}

.dataUser{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 576px) {
    .dataUser{
        grid-template-columns: 1fr;
    }
}

.boton {
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}
.formularioActualizacionUsuarios {
    display: flex;
    justify-content: space-between;
}

.formularioActualizacionUsuarios div {
    margin: 10px;
}
.formParte1 {
    margin: 10px;
}


.verYModificar .titulo{
    justify-content: left;
}

.verYModificar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crearProductoNuevo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    width: 100%;
    border: 2px solid var(--color-complemento);
    border-radius: 6px;
    margin-bottom: 20px;
}
.search input {
    border: none;
}
input {

    outline: none;
}

.search input::placeholder {
    padding-left: 0.8rem;
}


.crearProducto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.crearProducto fieldset{
    border: none;
}

.crearProducto textarea, input, select {
    margin: 8px 0;
    width: 90%;
    padding: 5px 10px;
    border: 2px solid var(--color-complemento);
    border-radius: 6px;
    width: 100%;
}
.crearProducto .botonDerecha{
    text-align: right;
}


#modificarElProducto h3 {
    margin: 10px;
}

#modificarElProducto .titulo {
    justify-content: left;
}

@media (max-width: 576px) {
    .crearProducto{
        grid-template-columns: 1fr;

    }
    .search{
        flex-direction: column;
        align-items: start;
    }
    .hashtag .t-row{
        flex-direction: column;
        align-items: start;
    }

    .formularioActualizacionUsuarios{
        flex-direction: column;
    }
}

/* CODIGO CAJA ELIMINAR CUENTA USUARIO*/
.eliminarCuentaUsuario .row{
    justify-content: space-between;
    color: tomato;
    font-weight: bold;
}
@media (max-width: 576px) {
    .eliminarCuentaUsuario .row{
        flex-direction: column;
    }
}

/* CODIGO CAJA ELIMINAR CUENTA USUARIO*/
.eliminarCuentaUsuario {
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid tomato;
    border-radius: 16px;
    background-color: rgba(255, 99, 71, 0.158);
}
.eliminarCuentaUsuario .botones{
    margin: 1rem;
}
.eliminarCuentaUsuario .botones .guardar{
    color: green;
    border: 2px solid green;
}
.eliminarCuentaUsuario .botones .eliminar{
    background-color: tomato;
    color: #fff;
    border: 2px solid tomato;
}


/* ------ MENSAJES -----*/
#mostrarMisMensajes {
    padding-bottom: 1rem;
}
#mostrarMisMensajes .t-row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 0.5fr;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 8px 0;
}

.headerMsg{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 0.5fr;
    place-items: center;
    padding: 8px 0;
}
.headerMsg i{
    cursor: pointer;
}

.bodyMsg {
    padding-bottom: 8px;
    font-style: italic;
}
.listaMensajes {
    border-bottom: 1px solid grey;
}

.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1.5fr;
    gap: 8px;
}
.contenedor .caja2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}
.contenedor img {
    width: 100px;
}

#listaProducto {
    display: none;
}

#listaProductos ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}


#listaProductos li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listaVendidos ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}

#listaVendidos li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor2 {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr;
    justify-content: space-between;
    align-items: center;
}


.precio {
    background-color: #7db4b5;
    padding: 4px 8px;
    border-radius: 8px;
    min-width: 120px;
    margin-left: 40px;
    text-align: center;
}

.caja2 .categoria {
    background-color:#e0eff1;
    padding: 4px 0;
    border-radius: 8px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.botonesEdit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.botonesEdit .update {
    background-color: transparent;
    border: 2px solid rgb(8, 34, 8);
    color: rgb(8, 34, 8);
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    min-width: 150px;
    margin-bottom: 5px;
}

.botonesEdit .delete {
    background-color: transparent;
    border: 2px solid tomato;
    color: tomato;
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    min-width: 150px;
    margin-top: 5px;
    margin-bottom: 13px;
}

#formCrearProducto1 {
    gap: 16px;
}

@media (max-width: 576px) {
    .contenedor{
        grid-template-columns: 1fr;
    }
    .contenedor .caja2{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        gap: 8px;
    }
    .botonesEdit{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }

    .contenedor2{
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
    .contenedor2 .caja1{
        grid-column: 1/3;
    }
}
