/* --- PAGINA TIENDA --- */

.tienda {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    padding: 1rem 0;
    position: relative;

  }

  @media (max-width: 992px) {
      .tienda {
        grid-template-columns: 1fr;
        padding: 0 16px;
      }
  }

  .tienda .menu {
    background-color: #e0eff1;
  }

  .producto{
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 0.5rem;
  }

  .producto:hover{
    box-shadow: 2px 2px 5px rgb(125, 180, 181);
    transform: scale(1.01);
  }
  .producto:last-of-type{
    margin-bottom: 0;
  }

  .card_producto_row {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
  }

  .card_producto_row img{
    width: 200px;
  }

  
  @media (max-width: 576px) {
    .card_producto_row{
      flex-direction: column;
    }
  }

  .producto .textos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }
  .producto .textos .tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:8px;
  }

  .tags .precio{
    background-color:#7db4b5;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline-block;
    min-width: 120px;
    text-align: center;
  }

  .tags .categoria{
    background-color:#e0eff1;
    padding: 4px 0;
    border-radius: 8px;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 120px;
    text-align: center;
  }

  .textos .plus {
    cursor: pointer;
    text-align: right;
    padding-right: 16px;
  }

  .producto .textos .detalle {
    overflow: hidden;
  }

  .alto-ofw{
    height: 80px;
  }

/*--- ASIDE ---*/
.menu {
  text-align: left;
  padding: 0 16px;
}

.menu .titulo {
  justify-content: start;
}

.menu .categoria {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 8px;

}


.menu fieldset{
  border: none;
  margin-bottom: 16px;
}

.menu legend {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 0;
}

.menu .buscador {
  border: 1px solid grey;
  border-radius: 16px;
  padding: 8px 16px;
  background-color: #fff;
}

.tienda input{
  border: none;
}

input::-webkit-input-placeholder {
  color: #680147b0;
}

input:focus {
  outline: none;
}

.rango .btn-menos, .rango .btn-mas {
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  width: 24px;
  cursor: pointer;
}

.rango progress {
  width: 100%;
}

@media (max-width: 768px) and (min-width: 576px) {
  .menu .categoria {
    display: flex;
  }
}
@media (max-width: 576px) {
    .producto{
      grid-template-columns: 1fr;
    }

    .img-100{
      position: static;
      border: none;
    }
}
.buscador {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtros .buscador i {
  cursor: pointer;
}